<form action="#" method="post" class="grid grid-cols-2 gap-6" [formGroup]="whoForm">
  <div class="text-3xl font-bold col-span-full text-center mb-0">¿Quíen?</div>

  <div class="col-span-full">
    <div class="text-xl col-span-full">Privacy</div>
    <div class="h-0.5 bg-gradient-to-r from-violet-500 to-sky-400  rounded"></div>
  </div>

  <div class="relative">
    <select formControlName="privacy" class="myinput appearance-none"
      [ngClass]="{'border border-red-500 rounded': isInvalid('privacy')}">
      <option value="public">Público</option>
      <option value="followers">Seguidores</option>
      <option value="friends">Amigos</option>
      <option value="hidden">Oculto</option>
    </select>

    <svg class="pointer-events-none absolute right-2 top-1/2 transform -translate-y-1/2"
      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="18">
      <path fill="#EAE9EA" transform="scale(0.3 0.3)"
        d="M9.15581 18.125C9.49255 18.0413 9.8764 17.9459 10.2252 17.961C11.6884 18.0246 28.1125 35.1629 30.1287 37.2995C32.5048 33.9297 36.0892 30.967 39.0027 28.0298L45.346 21.7003C46.6349 20.4186 47.8967 18.892 49.5 18.001C50.6317 18.0185 50.8603 18.091 51.8139 18.7016C51.9152 18.9088 52.0091 19.1438 52.0297 19.375C52.1562 20.7979 51.4132 21.3163 50.5685 22.3375C47.6736 25.6405 44.2912 28.6781 41.1794 31.7909C37.6369 35.3345 34.0181 39.5496 29.9897 42.5004L9.09228 21.9082C8.5483 21.2948 7.93379 20.6222 7.98635 19.75C8.29225 18.8806 8.43585 18.7023 9.15581 18.125Z" />
    </svg>
  </div>

  <div class="flex items-center justify-center gap-3">
    @if (toggleInscription) {
    <input type="number" placeholder="Plazas" class="myinput" formControlName="maxParticipants" min="0"
      [attr.max]="selectedGamemode?.max_players"
      [ngClass]="{'border border-red-500 rounded': isInvalid('maxParticipants')}">
    }
    <label class="cursor-pointer label gap-3">
      <span class="label-text text-right text-base">Requirments</span>
      <input type="checkbox" class="toggle toggle-secondary" checked formControlName="toggleRequirments" />
    </label>
  </div>

  <fieldset class="col-span-full grid gap-y-3 transition-opacity duration-1000"
    [ngClass]="{'opacity-10': !whoForm.get('toggleRequirments')?.value}"
    [disabled]="!whoForm.get('toggleRequirments')?.value">
    <div class="col-span-full">
      <div class="text-xl col-span-full">Requirments</div>
      <div class="h-0.5 bg-gradient-to-r from-violet-500 to-sky-400  rounded"></div>
    </div>

    <div class="col-span-full"></div>

    @if (ranked) {
    <fieldset class="col-span-full" [disabled]="!ranked">
      <div class="flex gap-3">
        <label class="label cursor-pointer">
          <input type="checkbox" checked="checked" class="checkbox checkbox-primary" formControlName="rank" />
          <span class="label-text text-base text-nowrap min-w-36 ml-3">Rango</span>
        </label>

        <div class="relative w-full" [ngClass]="{'opacity-10' : !whoForm.get('rank')?.value}">

          <select formControlName="minRank" class="myinput appearance-none"
            [ngClass]="{'border border-red-500 rounded': isInvalid('minRank')}">
            @if (selectedGamemode == null) {
            <option selected hidden value="">No ranked gamemode</option>
            } @else {
            <option value="" selected hidden>Select min rank</option>
            @for (rank of ranks; track $index) {
            <option value="{{rank}}">{{rank}}</option>
            }
            }

          </select>

          <svg class="pointer-events-none absolute right-2 top-1/2 transform -translate-y-1/2"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="18">
            <path fill="#EAE9EA" transform="scale(0.3 0.3)"
              d="M9.15581 18.125C9.49255 18.0413 9.8764 17.9459 10.2252 17.961C11.6884 18.0246 28.1125 35.1629 30.1287 37.2995C32.5048 33.9297 36.0892 30.967 39.0027 28.0298L45.346 21.7003C46.6349 20.4186 47.8967 18.892 49.5 18.001C50.6317 18.0185 50.8603 18.091 51.8139 18.7016C51.9152 18.9088 52.0091 19.1438 52.0297 19.375C52.1562 20.7979 51.4132 21.3163 50.5685 22.3375C47.6736 25.6405 44.2912 28.6781 41.1794 31.7909C37.6369 35.3345 34.0181 39.5496 29.9897 42.5004L9.09228 21.9082C8.5483 21.2948 7.93379 20.6222 7.98635 19.75C8.29225 18.8806 8.43585 18.7023 9.15581 18.125Z" />
          </svg>
        </div>
        <div class="relative w-full" [ngClass]="{'opacity-10' : !whoForm.get('rank')?.value}">

          <select formControlName="maxRank" class="myinput appearance-none"
            [ngClass]="{'border border-red-500 rounded': isInvalid('maxRank')}">
            @if (selectedGamemode == null) {
            <option selected hidden value="">No ranked gamemode</option>
            } @else {
            <option value="" selected hidden>Select max rank</option>
            @for (rank of ranks; track $index) {
            <option value="{{rank}}">{{rank}}</option>
            }
            }

          </select>

          <svg class="pointer-events-none absolute right-2 top-1/2 transform -translate-y-1/2"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="18">
            <path fill="#EAE9EA" transform="scale(0.3 0.3)"
              d="M9.15581 18.125C9.49255 18.0413 9.8764 17.9459 10.2252 17.961C11.6884 18.0246 28.1125 35.1629 30.1287 37.2995C32.5048 33.9297 36.0892 30.967 39.0027 28.0298L45.346 21.7003C46.6349 20.4186 47.8967 18.892 49.5 18.001C50.6317 18.0185 50.8603 18.091 51.8139 18.7016C51.9152 18.9088 52.0091 19.1438 52.0297 19.375C52.1562 20.7979 51.4132 21.3163 50.5685 22.3375C47.6736 25.6405 44.2912 28.6781 41.1794 31.7909C37.6369 35.3345 34.0181 39.5496 29.9897 42.5004L9.09228 21.9082C8.5483 21.2948 7.93379 20.6222 7.98635 19.75C8.29225 18.8806 8.43585 18.7023 9.15581 18.125Z" />
          </svg>
        </div>

      </div>
    </fieldset>
    }

    <div class="flex flex-col gap-3 max-h-56 h-full p-y-1">
      <div class="flex gap-3">
        <label class="label cursor-pointer ">
          <input type="checkbox" checked="checked" class="checkbox checkbox-primary" formControlName="level" />
          <span class="label-text text-base text-nowrap min-w-36 ml-3">Por nivel</span>
        </label>
        <input type="number" min="0" class="myinput" placeholder="Min" formControlName="minLevel"
          [ngClass]="{'opacity-10' : !whoForm.get('level')?.value, 'border border-red-500 rounded': isInvalid('minLevel')}">
        <input type="number" min="0" class="myinput" placeholder="Max" formControlName="maxLevel"
          [ngClass]="{'opacity-10' : !whoForm.get('level')?.value, 'border border-red-500 rounded': isInvalid('maxLevel')}">
      </div>

      <div class="flex gap-3">
        <label class="label cursor-pointer">
          <input type="checkbox" checked="checked" class="checkbox checkbox-primary" formControlName="hoursPlayed" />
          <span class="label-text text-base text-nowrap min-w-36 ml-3"> Horas jugadas</span>
        </label>
        <input type="number" min="0" class="myinput" placeholder="Min" formControlName="minHours"
          [ngClass]="{'opacity-10' : !whoForm.get('hoursPlayed')?.value, 'border border-red-500 rounded': isInvalid('minHours')}">
        <input type="number" min="0" class="myinput" placeholder="Max" formControlName="maxHours"
          [ngClass]="{'opacity-10' : !whoForm.get('hoursPlayed')?.value, 'border border-red-500 rounded': isInvalid('maxHours')}">
      </div>
    </div>

  </fieldset><button id="nextBtn" type="submit" (click)="onSubmit()" [disabled]="whoForm.status === 'INVALID'"
    class="col-span-full btn btn-neutral">Siguente</button>
</form>
