<main class="w-full h-screen p-6">
<div id="main-container" class="bg-gradient-to-r from-violet-800 to-cyan-400 w-full h-full rounded-xl p-3 flex gap-3">
<div class="container h-full w-96">
  <app-chats></app-chats>
</div>
<div class="container h-full w-full">
  <app-new-event-form></app-new-event-form>
</div>
<div class="flex flex-col gap-3">
  <div class="container h-3/4 w-full">
    <app-filters class=""></app-filters>
  </div>
  <div class="container h-1/4 w-96">
    <app-profilecard class=""></app-profilecard>
  </div>
</div>
</div>
</main>
