<div class="w-full h-full flex space-x-2 items-center justify-between">
  <div class="dropdown dropdown-top">
    <div tabindex="0" role="button">
      <!-- Avatar -->
      <div class="avatar">
        <div class="w-12 rounded-full" [ngClass]="{'hidden': !userAvatarLoaded}">
          @if (!userAvatarLoaded) {
          <div class="skeleton w-12 h-12 bg-accent/15 rounded-full shrink-0"></div>
          }
          <img #avatar src="{{user?.avatar}}" (load)="onAvatarLoad()" />
        </div>
      </div>

      <!-- Username + Status -->
      <div class="flex flex-col flex-grow min-w-0">
        <div class="flex flex-col">
          <span class=" overflow-hidden whitespace-nowrap text-ellipsis max-w-full min-w-0">{{user?.name}}</span>
          <app-user-status [sizeClass]="'small'"></app-user-status>
        </div>
      </div>
    </div>
    <ul tabindex="0" class="dropdown-content z-[1] shadow bg-base-200 rounded-box w-60 mb-3">
      <app-extra></app-extra>
    </ul>
  </div>

  <!-- Home BTN -->
  <div class="flex flex-nowrap justify-end items-center">
    <app-home class="flex-grow"></app-home>

    <app-settings class="flex-grow"></app-settings>
  </div>
</div>
