/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 6px;
}

/* Estilo para la pista de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}

/* Estilo para la manija de la barra de desplazamiento al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Estilo para la manija de la barra de desplazamiento cuando no se está haciendo hover */
::-webkit-scrollbar-thumb {
  background: #777777a8;
  width: 2px;
  border-radius: 10px;
}
