<dialog class="modal" #userListModal>
  <div
    class="modal-box flex flex-col w-[400px] h-4/6 bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-60 relative rounded-box p-6 bg-base-200 border border-accent/50">
    <h3 class="font-semibold text-lg capitalize mb-3">{{listTranslations[list]}}</h3>
    <div class="w-full flex-grow overflow-y-auto scroll-smooth">
      @if (isLoading) {
      <div class="w-full h-full flex items-center justify-center">
        <span class="loading loading-spinner text-primary loading-lg"></span>
      </div>
      } @else {
      @for (user of userList; track user.id) {
      <div
        class="group flex items-center justify-between p-2 border-b border-accent/50 rounded-box hover:bg-neutral/20 cursor-pointer mb-2"
        [routerLink]="['../', user.id]" (click)="closeModal()">
        <div class="flex items-center gap-2">
          <div class="avatar">
            <div class="w-10 h-10 rounded-full">
              <img src="{{user.avatar}}" />
            </div>
          </div>
          <div class="flex flex-col justify-center">
            <h4 class="font-medium text-base leading-none">{{user.name}}</h4>
            <span class="text-neutral/60 text-sm font-light">{{user.full_tag}}</span>
          </div>
        </div>
        <div class="flex items-center gap-2">

          <button *ngIf="!user.isFollowing && !isLogedUser(user.id)" class="btn btn-sm btn-square btn-ghost hover:bg-base-200/70"
            (click)="followUser(user.id); $event.stopPropagation()">
            @if (isFollowingLoading[user.id]) {
              <span class="loading loading-spinner loading-sm text-primary"></span>
            } @else {
              <i class='bx bx-user-plus bx-sm text-primary'></i>
            }
          </button>

          <button class="btn btn-square btn-sm btn-ghost hover:bg-base-200/70">
            <i class='bx bx-chat bx-sm text-secondary'></i>
          </button>
        </div>
      </div>
      } @empty {
      <div class="w-full h-full flex items-center justify-center">
        <span>No tienes <span class="capitalize">{{listTranslations[list]}}</span> 😭</span>
      </div>
      }
      }
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
