<div #dropdownDiv class="relative w-full myinput border border-gray-500" tabindex="0" [ngClass]="{'border border-red-500 rounded': isInvalid, 'ring-1 ring-white ': isFocused}">
  <div class="w-full h-6 flex items-center gap-2 relative justify-between">
    <div class="flex gap-2 w-full">
      @if (isGameSelected && searchValue) {
        @if (imageLoaded) {
        <img [src]="selectedGame?.game?.image" alt="{{selectedGame?.game?.name}}"
        class="w-7 h-7 object-cover">
        } @else {
          <span class="loading loading-spinner loading-xs"></span>
        }
      }
      <input type="text" [value]="searchValue" (focus)="isFocused = true; toggleDropdown(true)" (blur)="isFocused = false; toggleDropdown(false)"
        (input)="updateSearchValue($any($event.target).value)" placeholder="Search a game"
        class="h-6 text-left pl-0.5 flex items-center gap-2 relative" style="all:unset; width:100%;">
    </div>
    @if (searchValue === '') {
      <div (click)="toggleDropdown(true)" class="cursor-pointer w-7 h-6 opacity-25" style="background: url('./assets/icons/search.svg') no-repeat;"></div>
    } @else {
      <div (click)="resetSearch()" class="cursor-pointer w-7 h-6 opacity-75" style="background: url('./assets/icons/red_x.svg') no-repeat;"></div>
    }
  </div>
  @if (showDropdown) {
  <div id="dropdown-content"
    class="mt-3 ml-[-8px] absolute z-10 flex flex-col gap-2 bg-base-200 p-6 w-full rounded-md max-h-60 overflow-y-auto border border-white border-opacity-20">
    @for (game of filteredGames.slice(0, 5); track $index) {
    <div (click)="selectGame(game)" class="flex items-center gap-2 cursor-pointer border-b pb-2">
      <img [src]="game.image" alt="{{game.name}}"
        class="w-10 h-10 object-cover rounded-md bg-slate-50 p-1">{{game.name}}
    </div>
    }
    @if (filteredGames.length === 0) {
      <div class="font-mono flex justify-center"><span class="loading loading-spinner loading-xs mr-2"></span>Loading games</div>
    }
  </div>
  }
</div>
