<dialog class="modal" #gameStatFormModal>

  <div
    class="modal-box w-8/12 max-w-5xl bg-opacity-60 bg-clip-padding backdrop-filter backdrop-blur-lg relative rounded-box p-6 bg-base-200 border border-primary/50 scrollbar-hidde flex flex-col">

    @if (isFormSubmmiting) {
      <div class="w-full h-full rounded-box bg-base-100/20 z-20 absolute top-0 left-0"></div>
    }

    <header class="text-base">
      @if (isUpdating) {
      <span>Editando GameStat </span>
      } @else {
      <span>Creando GameStat</span>
      }
    </header>
    <form class="w-full mt-2" [formGroup]="gameStatForm">
      <div class="w-full grid grid-cols-2 gap-4 gap-y-6">

        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Juego</span>
          </div>
          <app-new-select-game formControlName="game" [isInvalid]="isInvalid('game')"
            (gamesEmitter)="handleGamesLoaded($event)" (selectGameTouched)="handleSelectGameTouched()"
            [optionsLimit]="2" [gameId]="gameStat?.game_id" />
        </label>

        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Nickname</span>
          </div>
          <input type="text" formControlName="nickname" class="input input-bordered" placeholder="Escribe aquí tu apodo"
            [ngClass]="{'input-error': isInvalid('nickname')}" maxlength="50">
        </label>

        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Nivel</span>
          </div>
          <input type="text" maxlength="30" formControlName="level" class="input input-bordered"
            placeholder="Nivel de tu cuenta" [ngClass]="{'input-error': isInvalid('level')}">
        </label>


        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Horas jugadas</span>
          </div>
          <input type="number" min="0" formControlName="hours_played" class="input input-bordered"
            placeholder="Cuantas horas has perdido..?" [ngClass]="{'input-error': isInvalid('hours_played')}">
        </label>

        <button class="btn btn-ghost hover:text-error hover:bg-base-200 font-normal text-base"
          [ngClass]="{'pointer-events-none cursor-not-allowed': isFormSubmmiting}"
          (click)="closeModal()">
          Cancelar
        </button>
        @if (isFormSubmmiting) {
        <button class="btn btn-secondary font-normal text-base  cursor-wait">
          <span class="flex items-end">Guardando<span class="loading loading-dots loading-xs"></span></span>
        </button>
        } @else {
        <button class="btn btn-secondary font-normal text-base" [disabled]="gameStatForm.status === 'INVALID'"
          (click)="onSubmit()">
          💾 Guardar
        </button>
        }
      </div>
    </form>
  </div>

</dialog>
