<div #scrollContainer class="w-full h-full rounded-lg space-y-6 flex flex-col justify-start overflow-y-scroll scrollbar-hidde">
  <app-nav-bar [isLoading]="isLoading"></app-nav-bar>

  @if (isLoading) {
    <div *ngFor="let i of [].constructor(10)" class="skeleton bg-primary/10 w-full h-[88px] min-h-[88px] border border-base-300"></div>
  }

  @for (event of displayedEvents; track $index) {
  <app-event-card [event]="event" />
  }
  <div class="flex space-x-1">

    @if (!isLoading && moreEventsLoaded) {
      <button (click)="smoothScrollToTop()" class="scroll-to-top btn btn-ghost" [ngClass]="hasMoreEvents ? 'w-1/2' : 'w-full'"> <i class='bx-tada bx bxs-hand-up text-secondary'></i> Subir</button>
    }
    @if (hasMoreEvents) {
    <button class="btn btn-ghost font-normal" (click)="loadMoreEvents()" [ngClass]="!isLoading && moreEventsLoaded ? 'w-1/2' : 'w-full'">
        @if (isLoading) {
          <span class="loading loading-infinity text-primary w-10"></span>
        } @else {
          <span><i class='bx-tada bx bxs-hand-down text-primary'></i> Load more</span>
        }
    </button>
    }
  </div>
  <!-- events.component.html -->

</div>
