<td [formGroup]="gamemodeStatForm">
  <select
    class="select select-bordered w-full text-base" formControlName="gamemode"
    formControlName="gamemode" (change)="onGamemodeChange()">

    <option hidden selected value="default">Selecciona un modo de juego</option>
    @for (gamemode of gamemodes; track gamemode.id) {
    <option value="{{ gamemode.id }}">{{ gamemode.name }}</option>
    } @empty {
    <option value="default" class="flex items-end" hidden selected>⏳ Cargando modos de juego</option>
    }
  </select>
</td>

<td [formGroup]="gamemodeStatForm">
  @if (selectedGamemode?.ranked === true) {
    <div class="grid grid-cols-1 gap-2 md:grid-cols-2">
      <input type="text" placeholder="Nivel" class="input input-bordered w-full" formControlName="lvl" />
      <input type="text" placeholder="Rango" class="input input-bordered w-full" formControlName="rank" />
    </div>
  } @else {

  <div class="w-full">
    <input type="text" placeholder="Nivel" class="input input-bordered w-full" formControlName="lvl" />
  </div>
  }

</td>

<td>
  <div class="flex gap-2">
    <button class="btn btn-ghost btn-sm btn-square hover:bg-base-300">
      <i class='bx bx-check-square text-success bx-sm'></i>
    </button>
    <button class="btn btn-ghost btn-sm btn-square hover:bg-base-300" (click)="onDelete()">
      <i class='bx bx-trash text-error bx-sm'></i>
    </button>
  </div>
</td>
