.layout__header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content min-content;
  grid-column-gap: 10px;
  grid-row-gap: 50px;
  padding-inline: 20px;
  padding-block: 40px;
  background: linear-gradient(300deg, #38bdf8, #8b5cf6, #00ffff);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  &__navbar {
    grid-column-start: 2;
    grid-column-end: 12;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: min-content;
    grid-column-gap: 10px;

    &__logo {
      grid-column-start: 1;
      grid-column-end: 3;
      display: flex;
      align-items: center;
      gap: 10px;

      &__svg {
        width: 65px;
        height: 54px;
      }

      &__text {
        font-size: 16px;
        font-weight: bold;
        color: $neutral;
        font-family: "Raleway", sans-serif;
        text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.25);
      }
    }

    &__links {
      grid-column-start: 3;
      grid-column-end: 9;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      &__link {
        font-size: 16px;
        font-weight: 500;
        color: $neutral;
        font-family: "Kanit", sans-serif;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__btncontainer {
      grid-column-start: 10;
      grid-column-end: 12;
      display: flex;
      align-items: center;
      justify-content: end;

      &__btn {
        font-size: 16px;
        font-weight: 500;
        color: $base-100;
        font-family: "Kanit", sans-serif;
        cursor: pointer;
        padding: 10px 25px;
        border-radius: 8px;
        background-color: $neutral;
        transition: color 0.3s;

        &:hover {
          color: $primary;
          box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.25);
        }
      }
    }

    &__menu-btn {
      display: none;
      grid-column-start: 11;
      grid-column-end: 12;
    }

    &__side-menu {
      visibility: hidden;
      display: flex;
      position: fixed;
      top: 0;
      right: 0;
      width: 400px;
      max-width: 80%;
      height: 100%;
      background-color: $base-200;
      border-radius: 8px;
      overflow: auto;
      transform: translateX(100%);
      transition: transform 0.5s ease;
      z-index: 1000;
      color: $neutral;
      padding: 30px;
      flex-direction: column;
      gap: 20px;

      &__link {
        transition: color 0.3s;
        cursor: pointer;

        &:hover {
          color: $secondary;
        }
      }

      &.open {
        animation: slide-in 0.5s forwards;
      }

      &.close {
        animation: slide-out 0.5s forwards;
      }

      &__header {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-bottom: 20px;
        border-bottom: 1px solid $neutral;

        &__svg {
          width: 55px;
          height: 46px;
        }

        &__text {
          font-size: 20px;
          font-weight: 500;
        }

        &__button {
          margin-left: auto;
          font-size: 20px;
          font-weight: 500;
          color: $neutral;
          cursor: pointer;
          background-color: transparent;
          border: none;

          &:hover {
            color: $primary;
          }
        }
      }
    }

    @media (max-width: 900px) {
      &__links,
      &__btncontainer {
        display: none;
      }

      &__menu-btn {
        display: block;
      }
    }

    @keyframes slide-in {
      from {
        transform: translateX(100%);
        visibility: hidden;
      }
      to {
        transform: translateX(0);
        visibility: visible;
      }
    }

    @keyframes slide-out {
      from {
        transform: translateX(0);
        visibility: visible;
      }
      to {
        transform: translateX(100%);
        visibility: hidden;
      }
    }
  }

  &__textsplashcontainer {
    grid-column-start: 4;
    grid-column-end: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__textsplash {
      width: 100%;
      height: auto;
    }

    p {
      font-size: clamp(0.75rem, 0.6346rem + 0.5128vw, 1.25rem);
      font-weight: 500;
      font-family: "Kanit", sans-serif;
      text-align: center;
      margin-top: 20px;
    }
  }

  @media (max-width: 900px) {
    &__textsplashcontainer {
      grid-column-start: 2;
      grid-column-end: 12;

      p {
        font-weight: 400;
      }
    }
  }
}

@media (max-width: 900px) {
  .layout__header {
    grid-row-gap: 25px;
  }
}
