@import "./colors.scss";

.layout {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, min-content);
  grid-column-gap: 20px;
  min-width: 340px;
  overflow-x: hidden;

  &.overlay::before {
    display: none; // muestra el pseudo-elemento cuando se añade la clase 'overlay'
  }

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // oscurece el fondo
    display: none; // oculta el pseudo-elemento por defecto
    z-index: 999; // asegúrate de que se muestre por encima de otros elementos
  }

  @media (max-width: 900px) {
    &.overlay::before {
      display: block;
    }
  }

  &__header {
    @import "./header.scss";
  }

  &__footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100%;
    grid-column-gap: 10px;
    padding: 20px;
    @import "./footer.scss";
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100%;
    grid-column-gap: 10px;
    padding: 30px;
    min-height: 350px;
    place-content: center;
  }

  &__what {
    background-color: $neutral;

    &__mockup {
      grid-column-start: 4;
      grid-column-end: 7;
      display: flex;
      align-items: center;
      margin-block: 40px;

      &__svg {
        width: 100%;
        height: auto;
      }
    }

    &__text {
      grid-column-start: 8;
      grid-column-end: 10;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;

      &__tittle {
        font-size: clamp(1.5rem, 0.3419rem + 2.0588vw, 2.8125rem);
        font-weight: 500;
        color: $base-100;
        line-height: 1;
        font-family: "Kanit", sans-serif;

        &__specialword {
          background: linear-gradient(to right, $primary, $secondary);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      &__phrase {
        font-size: clamp(0.625rem, 0.4rem + 0.5vw, 1rem);
        font-weight: 300;
        color: $base-300;
        line-height: 1.2;
      }
    }

    @media (max-width: 900px) {
      &__text {
        gap: 10px;
        grid-column-end: 11;
      }

      &__mockup {
        grid-column-start: 2;
      }
    }

    @media (max-width: 600px) {
      padding: 20px;
      padding-inline: 20%;
      grid-template-columns: 100%;
      grid-template-rows: repeat(2, min-content);
      gap: 20px;

      &__mockup {
        grid-column-start: 1;
        grid-column-end: 2;
        justify-content: center;
        margin-block: 10px;

        &__svg {
          min-width: 220px;
          width: 50%;
          height: auto;
        }
      }

      &__text {
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: center;
        order: -1;

        &__tittle {
          text-align: left;
          &__specialword {
            display: block;
          }
        }

        &__phrase {
          text-align: right;
        }
      }
    }
  }

  &__when {
    background-color: $neutral-dark;

    &__mockup {
      grid-column-start: 7;
      grid-column-end: 12;
      display: flex;
      align-items: center;
      justify-content: center;

      &__svg {
        width: 100%;
        height: auto;
        max-width: 500px;
        min-width: 500px;
      }
    }

    &__text {
      grid-column-start: 3;
      grid-column-end: 6;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;

      &__tittle {
        font-size: clamp(1.5rem, 0.3419rem + 2.0588vw, 2.8125rem);
        font-weight: 500;
        color: $base-100;
        line-height: 1;
        font-family: "Kanit", sans-serif;

        &__specialword {
          background: linear-gradient(to right, $primary, $secondary);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      &__phrase {
        font-size: clamp(0.625rem, 0.4rem + 0.5vw, 1rem);
        font-weight: 300;
        color: $base-300;
        line-height: 1.2;
      }
    }

    @media (max-width: 900px) {
      padding: 20px;
      padding-inline: 20%;
      grid-template-columns: 100%;
      grid-template-rows: repeat(2, min-content);
      gap: 20px;

      &__mockup {
        grid-column-start: 1;
        grid-column-end: 2;
        justify-content: center;
      }

      &__text {
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: center;
        order: -1;
        gap: 10px;

        &__tittle {
          text-align: left;
          &__specialword {
            display: block;
          }
        }

        &__phrase {
          text-align: right;
          width: 50%;
          margin-left:auto ;
        }
      }
    }

    @media (max-width: 550px) {
      &__mockup {
        transform: translateX(-150%);
      }
    }

  }

  &__who {
    background-color: $neutral;

    &__mockup {
      grid-column-start: 4;
      grid-column-end: 7;
      display: flex;
      align-items: center;
      margin-block: 40px;

      &__svg {
        width: 100%;
        height: auto;
      }
    }

    &__text {
      grid-column-start: 8;
      grid-column-end: 10;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;

      &__tittle {
        font-size: clamp(1.5rem, 0.3419rem + 2.0588vw, 2.8125rem);
        font-weight: 500;
        color: $base-100;
        line-height: 1;
        font-family: "Kanit", sans-serif;

        &__specialword {
          background: linear-gradient(to right, $primary, $secondary);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      &__phrase {
        font-size: clamp(0.625rem, 0.4rem + 0.5vw, 1rem);
        font-weight: 300;
        color: $base-300;
        line-height: 1.2;
      }
    }

    @media (max-width: 900px) {
      &__text {
        gap: 10px;
        grid-column-end: 11;
      }

      &__mockup {
        grid-column-start: 2;
      }
    }

    @media (max-width: 600px) {
      padding: 20px;
      padding-inline: 20%;
      grid-template-columns: 100%;
      grid-template-rows: repeat(2, min-content);
      gap: 20px;

      &__mockup {
        grid-column-start: 1;
        grid-column-end: 2;
        justify-content: center;
        margin-block: 10px;

        &__svg {
          min-width: 220px;
          width: 50%;
          height: auto;
        }
      }

      &__text {
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: center;
        order: -1;

        &__tittle {
          text-align: left;
          &__specialword {
            display: block;
          }
        }

        &__phrase {
          text-align: right;
        }
      }
    }
  }
}
