<div class="relative" [ngClass]="{'outline outline-red-500 rounded': isInvalid}">
  <select name="platform" class="input appearance-none focus:ring-1 focus:ring-purple-500" (change)="selectPlatform($any($event.target).value)">
    @for (platform of options; track $index) {
      @if (selectedGame !== null) {
        <option value="" selected hidden>Select a platform</option>
      }
      @if (selectedGame === null) {
        <option value="{{platform.id}}" selected hidden>{{platform.name}}</option>
      } @else {
        <option value="{{platform.id}}">{{platform.name}}</option>
      }
    }
  </select>
</div>
