<div class="relative text-lg">
  <div tabindex="0" class="collapse bg-base-200 hover:shadow-lg" [ngClass]="{'collapse-arrow': isRoute('/main')}">
    <input type="checkbox" [(ngModel)]="isChecked" />
    <div class="collapse-title flex items-center justify-between">
      <div class="flex items-center">
        <img class="w-14 h-auto mr-3" src="{{event.game_pic}}" alt="gameLogo">
        <div class="flex flex-col">
          <span class="text-nowrap text-ellipsis w-64 2xl:w-96 overflow-hidden">{{event.event_title}}</span>
          <span class="font-light text-neutral/90 text-base">{{event.game_name}} - {{event.game_mode}} - {{event.platform}}</span>
        </div>
      </div>
      <div class="flex items-center">
        <span class="text-base font-light overflow-hidden text-ellipsis w-36 text-nowrap text-right 2xl:w-full">Creado por
          <span class="font-normal">{{event.owner.name}}</span></span>
        <div class="avatar">
          <div class="w-12 ml-3 rounded-full">
            <img src="{{event.owner.avatar}}" />
          </div>
        </div>
      </div>

    </div>
    <div class="collapse-content">
      <div class="flex justify-between">

        <div class="text-base grid grid-cols-[min-content_auto_auto] gap-2 font-light col-span-2 w-fit">
          <span>Empieza</span>
          <div class="flex items-center">
            <i class='bx bx-calendar mr-1'></i>
            <span class="font-mono">{{formattedDateBegin}}</span>
          </div>
          <div class="flex items-center">
            <i class='bx bx-time-five mr-1'></i>
            <span class="font-mono">{{formattedTimeBegin}}</span>
          </div>
          <span>Termina</span>
          <div class="flex items-center">
            <i class='bx bx-calendar mr-1'></i>
            <span class="font-mono">{{formattedDateEnd}}</span>
          </div>
          <div class="flex items-center">
            <i class='bx bx-time-five mr-1'></i>
            <span class="font-mono">{{formattedTimeEnd}}</span>
          </div>
        </div>

        <div class="flex items-end justify-end gap-x-3">
          <div class="flex flex-col gap-1 items-end">
            @if (isJoined) {
            <div #participatingBadge class="badge badge-success gap-2" (click)="hideParticipatingBadge()">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                class="inline-block w-4 h-4 stroke-current cursor-pointer">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
              Ya participas 🚀
            </div>
            }
            @if (friendsParticipating) {
            <div #friendsParticipatingBadge class="badge badge-accent gap-2" (click)="hideFriendsParticipatingBadge()">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                class="inline-block w-4 h-4 stroke-current cursor-pointer">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
              Amigos participando 🎮
            </div>
            }
          </div>
          <app-more-event-info-modal (isJoinedChange)="isJoinedChange($event)"
            (friendsParticipatingChange)="FriendsParticipatingChange($event)" [event]="event"
            [eventInscriptionEndTime]="eventInscriptionEndTime" [formattedDateBegin]="formattedDateBegin"
            [formattedTimeBegin]="formattedTimeBegin" [formattedDateEnd]="formattedDateEnd"
            [formattedTimeEnd]="formattedTimeEnd" />
        </div>
      </div>
    </div>
  </div>
  <div class="dropdown dropdown-left absolute top-2 right-2 z-10">
    <div tabindex="0" role="button" class="btn btn-circle btn-ghost btn-sm"><i
        class='bx bx-dots-vertical-rounded bx-sm'></i></div>
    <ul tabindex="0" class="dropdown-content fixed z-20 menu p-2 shadow bg-base-100 rounded-box w-52">

      <li>
        <button (click)="deleteEventModal.showModal()"><i class='bx bx-trash text-error'></i>Borrar evento</button>
      </li>

      <li>
        <button (click)="editEventModal.showModal()"><i class='bx bx-edit-alt text-secondary'></i>Editar evento</button>
      </li>
    </ul>
  </div>


  <dialog id="deleteEventModal" #deleteEventModal class="modal">
    <div class="modal-box border-2 border-error">
      <h3 class="font-medium text-lg">Eliminar evento</h3>
      <p class="font-normal">¿Seguro que quiere borrar este evento?</p>
      <p class="py-4 font-normal">Esta acción es irreversible</p>

      <div class="modal-action">
        <form method="dialog">
          <!-- if there is a button in form, it will close the modal -->
          <button class="btn btn-ghost font-medium mr-2 text-neutral/90">Cancelar</button>
          <button class="btn btn-error font-medium">Borrar</button>
        </form>
      </div>
    </div>
  </dialog>

  <dialog id="editEventModal" #editEventModal class="modal">
    <div class="modal-box border-2 border-secondary w-11/12 max-w-5xl">
      <h3 class="font-medium text-lg">Editar evento</h3>
      <app-edit-event-form [event]="event" />

      <div class="modal-action">
        <form method="dialog">
          <!-- if there is a button in form, it will close the modal -->
          <button class="btn btn-ghost mr-2 font-medium text-neutral/90">Cancelar</button>
          <button class="btn btn-secondary font-medium">Editar</button>
        </form>
      </div>
    </div>
  </dialog>
</div>
