<div tabindex="0" class="collapse collapse-arrow bg-base-200 shadow-lg">
  <input type="checkbox" [(ngModel)]="isChecked" />
  <div class="collapse-title text-xl flex items-center justify-between">
    <div class="flex items-center">
      <img class="w-14 h-auto mr-3" src="{{event.game_pic}}" alt="gameLogo">
      <div class="flex flex-col">
        <span class="text-2xl text-nowrap text-ellipsis w-64 2xl:w-96 overflow-hidden">{{event.event_title}}</span>
        <span class="text-base font-light">{{event.game_name}} - {{event.game_mode}} - {{event.platform}}</span>
      </div>
    </div>
    <div class="flex items-center">
      <span class="text-lg font-light">Creado por <span class="font-normal">{{event.event_owner_id}}</span></span>
      <!-- TODO: event_owner.name -->
      <div class="avatar">
        <div class="w-12 ml-3 rounded-full">
          <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
          <!-- TODO: event_owner.avatar -->
        </div>
      </div>
    </div>
  </div>
  <div class="collapse-content">

    <button class="btn" onclick="my_modal_1.showModal()">open modal</button>
    <dialog id="my_modal_1" class="modal">
      <div class="modal-box">
        <h3 class="font-bold text-lg">Hello!</h3>
        <p class="py-4">Press ESC key or click the button below to close</p>
        <div class="modal-action">
          <form method="dialog">
            <!-- if there is a button in form, it will close the modal -->
            <button class="btn">Close</button>
          </form>
        </div>
      </div>
    </dialog>
  </div>
</div>
