<div class="layout">
  <header class="layout__header">
    <nav class="layout__header__navbar">

      <div class="layout__header__navbar__logo">
        <object data="assets/landing/logo.svg" type="image/svg+xml" class="layout__header__navbar__logo__svg"></object>
        <span class="layout__header__navbar__logo__text">MeetoPlay</span>
      </div>

      <div class="layout__header__navbar__links">
        <a href="#" class="layout__header__navbar__links__link">Acceder</a>
        <a href="#" class="layout__header__navbar__links__link">What?</a>
        <a href="#" class="layout__header__navbar__links__link">When</a>
        <a href="#" class="layout__header__navbar__links__link">Who?</a>
        <a href="#" class="layout__header__navbar__links__link">Why?</a>
      </div>

      <div class="layout__header__navbar__btncontainer">
        <button class="layout__header__navbar__btncontainer__btn">
          Unirse
        </button>
      </div>

      <button class="layout__header__navbar__menu-btn" (click)="toggleSideMenu()">
        <i class='bx bx-menu bx-sm'></i>
      </button>

    </nav>

    <div class="layout__header__textsplashcontainer">
      <object data="assets/landing/textsplash.svg" type="image/svg+xml"
        class="layout__header__textsplashcontainer__textsplash"></object>
      <p>Deja de liarla para quedar con tus colegas</p>
    </div>
  </header>

  <div class="layout__row layout__row--even">
    <div class="layout__row__mockup">
      <object data="assets/landing/notipanel.svg" type="image/svg+xml" class="layout__row__mockup__svg"></object>
    </div>

    <div class="layout__row__text">
      <div class="layout__row__text__tittle">
        <span><span class="layout__row__text__tittle__specialword">What?</span> Eso nos preguntamos nosotros</span>
      </div>
      <div class="layout__row__text__phrase">
        Esto es la red social que te va a solucionar la vida. Aquí vas a poder organizar tu “dura” vida gamer, o esa es
        la intención.
      </div>
    </div>
  </div>

  <div class="layout__row layout__row--odd">
    <!-- contenido de la segunda fila -->
  </div>

  <div class="layout__row layout__row--even">
    <!-- contenido de la primera fila -->
  </div>

  <div class="layout__row layout__row--odd">
    <!-- contenido de la segunda fila -->
  </div>

  <!-- más filas según sea necesario -->

  <div class="layout__footer">
    <!-- contenido del footer -->
  </div>
</div>

<div class="layout__header__navbar__side-menu" [ngClass]="{'open': isSideMenuOpen}">
  <header class="layout__header__navbar__side-menu__header">
    <object data="assets/landing/logo.svg" type="image/svg+xml" class="layout__header__navbar__side-menu__header__svg"></object>
    <span class="layout__header__navbar__side-menu__header__text">MeetoPlay</span>
  </header>
  <a href="#">Acceder</a>
  <a href="#">What?</a>
  <a href="#">When</a>
  <a href="#">Who?</a>
  <a href="#">Why?</a>
</div>
