<div class="w-full p-4 bg-base-200 gap-3 flex items-center rounded-box cursor-pointer hover:bg-base-300 relative"
  (click)="navigateToChatWithUser(user)">
  <div class="avatar">
    <div class="w-12 rounded-full">
      <img src="{{user.avatar}}" />
    </div>
  </div>
  <div class="grow flex flex-col overflow-hidden">
    <span class="text-nowrap overflow-ellipsis overflow-hidden">{{user.name}}</span>
    <app-user-status [user]="user" [sizeClass]="'small'" [isChat]="true" />
  </div>

  @if (unreadedMessages !== 0) {
  <div class="badge badge-error absolute -top-1 -right-1">
    @if (unreadedMessages === 20) {
      20+
    } @else {
      {{unreadedMessages}}
    }
  </div>
  }
</div>
