<div class="modal-box w-11/12 max-w-5xl border-2 border-secondary">
  <h3 class="font-semibold text-lg mb-1">Editar evento</h3>
  <div role="tablist" class="tabs tabs-bordered tabs-lg">
    <input type="radio" name="edit_event_tabs" role="tab" class="tab" aria-label="What" checked/>
    <div role="tabpanel" class="tab-content">
      <form action="#" method="post" class="grid grid-cols-2 gap-6 mt-2" [formGroup]="whatFormEdit">

        <div class="col-span-full">
          <div class="text-xl col-span-full">Event</div>
          <div class="h-0.5 bg-gradient-to-r from-violet-500 to-sky-400  rounded"></div>
        </div>

        <input type="text" placeholder="Título del evento" class="myinput col-span-full" formControlName="title" autofocus
          [ngClass]="{'border border-red-500 rounded': whatFormEdit.get('title')?.invalid && whatFormEdit.get('title')?.touched}">

        <div class="col-span-full">
          <div class="text-xl col-span-full">Game</div>
          <div class="h-0.5 bg-gradient-to-r from-violet-500 to-sky-400  rounded"></div>
        </div>

        <app-select-game [games]="games" formControlName="game" (gameSelected)="whatFormEdit.get('platform')?.reset()"
          [isInvalid]="whatFormEdit.get('game')?.invalid && whatFormEdit.get('game')?.touched" />

        <div class="flex items-center justify-center">
          <label class="cursor-pointer label gap-3">
            <span class="label-text text-base">Ranked</span>
            <input type="checkbox" class="toggle toggle-primary" checked formControlName="ranked" />
          </label>
        </div>

        <app-select-gamemode formControlName="gameMode" [ranked]="whatFormEdit.get('ranked')?.value || false"
          [isInvalid]="whatFormEdit.get('gameMode')?.invalid && whatFormEdit.get('gameMode')?.touched" [whatForm]="whatFormEdit"/>

        <app-select-platform formControlName="platform"
          [isInvalid]="whatFormEdit.get('platform')?.invalid && whatFormEdit.get('platform')?.touched" />

        <div class="col-span-full"></div>

      </form>

    </div>

    <input type="radio" name="edit_event_tabs" role="tab" class="tab" aria-label="When" />
    <div role="tabpanel" class="tab-content p-10">Tab content 2</div>

    <input type="radio" name="edit_event_tabs" role="tab" class="tab" aria-label="Who" />
    <div role="tabpanel" class="tab-content p-10">Tab content 3</div>
  </div>

  <div class="modal-action">
    <form method="dialog">
      <!-- if there is a button in form, it will close the modal -->
      <button class="btn mr-2">Cancelar</button>
      <button class="btn btn-secondary">Editar</button>
    </form>
  </div>
</div>
