/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  margin: 0;
}

#main-container {
  background-size: 200% 200%;
  background-image: radial-gradient(circle, rgb(91 33 182), rgb(34 211 238), rgb(91 33 182));
  animation: gradient 30s ease-in-out infinite;
}

@keyframes gradient {
  0% {
      background-position: 50% 50%;
      background-size: 150% 150%;
  }
  20% {
      background-position: 100% 0%;
      background-size: 200% 200%;
  }
  40% {
      background-position: 0% 100%;
      background-size: 250% 250%;
  }
  60% {
      background-position: 100% 100%;
      background-size: 200% 200%;
  }
  80% {
      background-position: 0% 0%;
      background-size: 150% 150%;
  }
  100% {
      background-position: 50% 50%;
      background-size: 200% 200%;
  }
}
