/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  margin: 0;
}

/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px;
}

/* Estilo para la pista de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: #26262600;
  border-radius: 10px;
}

/* Estilo para la manija de la barra de desplazamiento al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
  background: #38bdf8;
}

/* Estilo para la manija de la barra de desplazamiento cuando no se está haciendo hover */
::-webkit-scrollbar-thumb {
  background: #38bff8a1;
  width: 6px;
  border-radius: 10px;
  transition: all 1s ease;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
