<div class="relative w-full">
  <button class="flex items-center space-x-3 select select-bordered w-full" (click)="toggle()" [class.select-error]="isInvalid">
    <img *ngIf="selectedGame?.image" [src]="selectedGame?.image" class="w-7 h-7">
    <span class="text-base">{{ selectedGame?.name }}</span>
  </button>
  <div class="absolute left-0 w-full mt-1 p-1 bg-base-200 rounded-lg border border-base-300" *ngIf="isOpen">

    <label class="input flex items-center gap-2">
      <input type="text" placeholder="Search" [formControl]="searchControl" class="w-full">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70">
        <path fill-rule="evenodd"
          d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
          clip-rule="evenodd" />
      </svg>
    </label>
    <app-option *ngIf="isLoading" [isLoading]="isLoading" [game]="{ id: -2, name: 'Cargando juegos...', image: '' }" />
    <app-option *ngFor="let game of filteredGames | async" [game]="game"
      (optionSelected)="onOptionSelected($event)" />
  </div>
</div>
