<div role="tablist" class="tabs tabs-bordered tabs-lg">
  <input type="radio" name="edit_event_tabs" role="tab" class="tab" aria-label="What" />
  <div role="tabpanel" class="tab-content pt-8">
    <app-what-form [event]="event"></app-what-form>
  </div>

  <input type="radio" name="edit_event_tabs" role="tab" class="tab" aria-label="When" />
  <div role="tabpanel" class="tab-content p-10">Tab content 2</div>

  <input type="radio" name="edit_event_tabs" role="tab" class="tab" aria-label="Who" />
  <div role="tabpanel" class="tab-content p-10">Tab content 3</div>
</div>
