<div tabindex="0" class="collapse collapse-arrow bg-base-200/80 hover:bg-base-200 hover:shadow-lg"
  [ngClass]="{'bg-base-200': isOpen, 'bg-base-200/80': !isOpen}" (click)="toggleOpen()">
  <input type="checkbox" />
  <div class="collapse-title grid grid-rows-1 grid-cols-4">
    <div class="flex space-x-3 items-center"><img class="w-14 h-auto" src="{{gameStat.game_pic}}" alt="">
      <span>{{gameStat.game_name}}</span>
    </div>
    <div class="flex items-center justify-center ">
      <span>Nickname: <span class="font-medium">{{gameStat.nickname_game}}</span></span>
    </div>
    <div class="flex items-center justify-center ">
      <span>Nivel: <span class="font-medium">{{gameStat.lv_account}}</span></span>
    </div>
    <div class="flex items-center justify-center ">
      <span>Tiempo jugado: <span class="font-medium">{{gameStat.hours_played}}</span></span>
    </div>

  </div>
  <div class="collapse-content">
    <div class="w-full flex items-center justify-between">
      <h3 class="font-medium text-base">Gamemode Stats</h3>

      <button class="btn btn-sm btn-square btn-secondary" (click)="addGamemodeRankLvlComponent($event)">
        <i class='bx bx-plus bx-sm text-base-200'></i>
      </button>

    </div>
    <table class="table">
      <thead>
        <tr>
          <th class="font-light">Modo de juego</th>
          <th class="font-light">Rango/Nivel</th>
          <th class="font-light">Acción</th>
        </tr>
      </thead>
      <tbody>

        <tr app-select-gamemode-rank-lvl *ngFor="let component of gamemodeRankLvlComponents; let i = index"
          [gamemodes]="gamemodes" (deleteRequest)="deleteGamemodeRankLvlComponent(i)"></tr>

        @for (gamemodeStat of gameStat.gamemode_stats; track gameStat.id;) {
        <tr class="hover border-b-neutral">
          <td class=" p-2 pl-4">{{gamemodeStat.gamemode_name}}</td>
          <td class=" p-2 pl-4">{{gamemodeStat.gamemodes_rank}}</td>
          <td class="flex gap-2 p-2 pl-4">
            <button class="btn btn-ghost btn-sm btn-square hover:bg-base-300"><i
                class='bx bx-edit-alt bx-sm text-secondary'></i>
              </button>
            <button class="btn btn-ghost btn-sm btn-square hover:bg-base-300">
              <i class='bx bx-trash bx-sm text-error'></i>
            </button>
          </td>
        </tr>
        } @empty {
        <tr>
          <td colspan="3" class="text-center"><span>No hay estadisticas para los modos de juego de
              {{gameStat.game_name}}
              😯</span></td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
